/* View: Onboard */

.onboard {

    .stepper.paper {
        // to enable <Paper> shadows
        position: relative;
        z-index: 1;
    }


    .step-item {

        .step-label {
            // Hide step labels to save space on mobile
            display: none !important;
        }
    }
}



@media (min-width: 750px) {
    // Tablet and higher

    .onboard .step-item .step-label {
        // Show labels
        display: block !important;
    }
}