/* Component: creditcard-form */

$creditcard-form-cvv-width: 20%;
$creditcard-form-spacing: 3px;


section.creditcard-form {


  form#stripe-payment-form {
    position: relative;
    top: 1em;
    padding: 1em 2em 0;
    border: 2px solid $stripe-indigo;
    background: transparentize($stripe-indigo, 0.7);
    border-radius: 0.25em;

    text-align: left;

    label {
      color: $iom-dark-silver;
    }


    div#card-element-wrapper {
      @extend input[type="text"];
      background: white;
    }

    div#stripe-success {
      padding: 1.5em 0 0.5em;
      color: $stripe-green;
      text-align: center;
    }

    div#card-errors {
      height: 1em;
      padding: 0.125em 0.5em;
      font-size: 0.9em;
      text-align: left;
      color: $danger;
    }

    .stripe-info {
      position: absolute;
      display: relative;
      bottom: 0;
      right:  0;
      padding: 0.25em;
      padding-left: 1em;
      border: 1px solid $stripe-indigo;
      border-width: 1px 0 0 1px;
      border-bottom-right-radius: inherit;
      border-top-left-radius: 2em;
      font-size: 0.75em;
      color: $stripe-green;
      background: white;
    }
  }

  aside {
    padding: 0 1.5em;
    font-size: 70%;
    text-align: right;
  }



  form {
    margin: 1em;

    input {
      display: inline-block;
      border-color: black;
      margin: 0.2rem 0;

      &:focus {
        // Fix for Chrome glow layering
        position: relative;
        z-index: 1;
      }
    }

    input.creditcard-name {
      width: 100%;
    }
    input.creditcard-number {
      width: calc(100% - #{$creditcard-form-cvv-width});
    }
    input.cvv {
      width: 20%;
      border-left: 0;
      text-align: center;
    }
    input.expiration {
      float: left;
      width: 30%;

      &+ input.expiration {
        // margin-left: 0.5em;
        border-left: none;
      }
    }
    input.zip {
      float: right;
      width: 35%;
    }
  }
}



// .creditcard-name
// .creditcard-number
// .cvv
// .expiration
// .expiration
// .zip
