/* Partial: Colors */

$iom-blue: #28a7df;  /* itsonme.com logo */
$iom-blue2: #25a9e0;  /* merchant.itson.me infographic */
$iom-teal: #00acc1;
$iom-green: #6bb87e;  /* merchant.itson.me support graphic */
$iom-silver: #92989F;
$iom-grey: #89949B;

$iom-light-grey: #e7e7e7;
$iom-light-silver: #eaedf1;

$iom-dark-blue: #286090;
$iom-dark-grey: #20252b;
$iom-dark-silver: #3a424d;

$iom-darker-blue: #204d74;  /* blahh */


$danger: #f32;
$dark-danger: #a10;


$site-gradient-color: transparentize($iom-grey, 0.7);


// Stripe's branding
$stripe-indigo: #7795f8;  // primary
$stripe-pink:   #b76ac4;
$stripe-purple: #8f6ed5;
$stripe-green:  #24b47e;
