/* Partial: Common classes */

.left     { float: left; }
.right    { float: right; }
.clearfix { clear: both; }

.center { text-align: center; }

.inverted { filter: invert(100%); }
.error { color: $danger; }

.hidden { display: none; }


.aspect-ratio {
  width: 100%;

  &:before {
    float: left;
    padding-bottom: 56.25%;  // default to 16:9
    content: "";
  }

  &:after {
    display: table;
    content: "";
    clear: both;
  }


  &.square:before { padding-bottom: 100%; }
  &.16-9:before   { padding-bottom: 56.25%; }
  &.21-9:before   { padding-bottom: 42.857%; }
  &.22-5:before   { padding-bottom: 22.72%; }
}


.filled-circle {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  color: white;
  text-align: center;
  line-height: 1.5em;
  border-radius: 10em;
  background-color: $iom-dark-grey;
}
