
section {
  float: left;
  width: 100%;
  text-align: center;

  &.col-2 { width: 50%; }
  &.col-3 { width: 33%; }

  &.active {
    // background: linear-gradient(to right, white, $iom-light-silver, white);
  }


  header {
    display: block;
    margin: 1.5rem auto;
    font-size: 1.5rem;
  }

  summary {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-weight: bold;
    min-height: 3rem;
  }

}

