/* View: Header */

.site-header {

    .site-header-content {
        // Mui AppBar Title styling:
        height: 64px;
        line-height: 64px;
        margin: 0;
        font-size: 24px;
        letter-spacing: 0px;
        font-weight: 400;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;

        .logo {
            // Shrink a little bit and vertically-center
            height: 36px;
            width:  auto !important;
            margin: 16px 0.5em 0 0;
        }

        .site-header-title {
            // Match the text's baseline with the logo's text
            position: relative;
            bottom: 6px;
        }
    }

}
