/*
 * Styling for: Project Surfboard
 * The ItsOnMe Merchant On-boarding site
 */

@import 'node_modules/susy/sass/susy-prefix';
@import 'node_modules/susy/sass/plugins/svg-grid/prefix';

@import 'partials/reset';
@import 'partials/colors';
@import 'partials/fonts';

@import 'partials/susy';

@import 'partials/animations';
@import 'partials/common';


/*** Top-level Styling ***/
body, html {
    // Full height!
    height: 100%;

    font-family: $iom-font-normal;

    // The actual <Background> element sits atop this and fades in.
    background: $iom-dark-grey;
}


/*** Controls ***/
@import 'partials/controls';


/*** Main page ***/
@import 'header';
@import 'background';
@import 'http-errors';


/*** Views ***/
@import 'views/onboard';


/*** Onboard Steps ***/
@import 'views/onboard/steps';
@import 'views/onboard/welcome';
@import 'views/onboard/venue';
@import 'views/onboard/contact';
@import 'views/onboard/photos';
@import 'views/onboard/bank-info';
@import 'views/onboard/plans';
@import 'views/onboard/form-creditcard';
@import 'views/onboard/checkout-summary';

/*** Ordering ***/
@import 'views/ordering/products';
@import 'views/ordering/cart';
@import 'views/ordering/venue';
@import 'views/ordering/billing';
@import 'views/ordering/checkout';


/*** Components ***/
@import 'components/hours';
@import 'components/sidebar';
@import 'components/sidebar/sidebar_content';
