/* View: Venue */

section.venue {

  form {
    padding: 1em;

    .mui-textfield, .mui-textarea {
      // Using !important because MaterialUI uses only inline styles
      display: block !important;
      // Make sure controls are neither too large nor too small
      min-width: 20rem;
      width: 50% !important;
      // Center them in their container.
      margin: 0 auto;
    }

    .group-title {
      width: 50%;
      margin: 3em auto 0.25em;
      text-align: left;
      font-size: 1.2rem;

      aside {
        font-size: 0.85rem;
        color: $iom-silver;
      }
    }
  }
}