/* Component: form-creditcard */

$creditcard-cvv-width: 20%;
$creditcard-spacing: 3px;


section.form-creditcard {


    form#stripe-payment-form {

        .stripe-wrapper {

            position: relative;
            padding: 1em 2em;
            border: 2px solid $stripe-indigo;
            background: transparentize($stripe-indigo, 0.7);
            border-radius: 0.25em;

            text-align: left;

            label {
                color: $iom-dark-silver;
            }


            div#card-element-wrapper {
                @extend input[type="text"];
                border: 1px inset $stripe-purple;
                background: white;

                #card-element {
                    padding: 0.5em 0.75em;
                }
            }

            div#stripe-success {
                padding: 1.5em 0 0.5em;
                color: $stripe-green;
                text-align: center;
            }

            div#card-errors {
                height: 1em;
                padding: 0.125em 0.5em;
                font-size: 0.9em;
                text-align: left;
                color: $danger;
            }

            .stripe-info {
                position: absolute;
                display: relative;
                bottom: 0;
                right:  0;
                padding: 0.25em;
                padding-left: 1em;
                border: 1px solid $stripe-indigo;
                border-width: 1px 0 0 1px;
                border-bottom-right-radius: inherit;
                border-top-left-radius: 2em;
                font-size: 0.75em;
                color: $stripe-green;
                background: white;
            }
        }

        aside {
            font-size: 70%;

            &.stripe-aside {
                text-align: right;
            }
        }
    }


    //TODO: remove the outdated styles below
    form {
        margin: 1em;

        input {
            display: inline-block;
            border-color: black;
            margin: 0.2rem 0;

            &:focus {
                // Fix for Chrome glow layering
                position: relative;
                z-index: 1;
            }
        }

        input.creditcard-name {
            width: 100%;
        }
        input.creditcard-number {
            width: calc(100% - #{$creditcard-cvv-width});
        }
        input.cvv {
            width: 20%;
            border-left: 0;
            text-align: center;
        }
        input.expiration {
            float: left;
            width: 30%;

            &+ input.expiration {
                // margin-left: 0.5em;
                border-left: none;
            }
        }
        input.zip {
            float: right;
            width: 35%;
        }
    }


    .paper.pay-by-check {

        .check-address {
            text-align: left;

            pre {
                font-size: 1.1rem;
            }
        }

        button {
            position: absolute;
            right: 0.5em;
            bottom: 0.5em;
        }
    }

}


@media (max-width: 600px) {
    section.form-creditcard form#stripe-payment-form .stripe-wrapper {
        // Expand CC entry slightly
        padding: 1em;
        // Extra padding to allow displaying the error when the form is too narrow.
        padding-bottom: 2em;
    }
}


@media (max-width: 350px) {
    section.form-creditcard form#stripe-payment-form {
        // Shrink bottom compliance comment
        aside { font-size: 0.65em; }

        .stripe-wrapper {
            // Expand CC entry as much as possible to prevent overlaps.
            padding: 0.25em;
            padding-bottom: 2em;

            // Shrink the text when the screen is tiny
            div#card-errors { font-size: 0.85em; }
        }
    }
}

@media (max-width: 320px) {
    section.form-creditcard form#stripe-payment-form {
        // Shrink form because we need all the available space
        margin: 1em 0;

        // Shrink bottom compliance comment
        aside { font-size: 0.58em; }

        .stripe-wrapper {
            // Shrink the text further when the screen is tinier yet (iPhone 6 SE)
            div#card-errors { font-size: 0.65em; }
        }
    }
}
