/* Component: Ordering/Products */


section.products {
    // Add page estate for the footer cart
    margin-bottom: 12rem;

    .product {
        
        &:hover {
            background-color: aliceblue !important;
        }

        .product-content {

            .product-description {
                display: block;
                text-align: justify;
            }

            .product-image-wrapper {
                display: block;
            }
        }
    }
}
